

.AppPanel
{
	position: relative;
    width: 90%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, 0%);
    padding: 5px 5px 5px 5px;
    border: solid 1px #a0a000;
    box-shadow: None; 
    padding-bottom: 10px;
}

.AppPanel .panTitle
{
    text-align: center;
    font-size: 125%;    
}

.AppPanel .panLabel
{
    white-space: nowrap;
    font-size: 80%;
}

.AppPanel .panLabel.small
{
    font-size: 90%;
}

.AppPanel .panLabel.top
{
	padding-top: 10px;
    vertical-align: top;
}

.AppPanel .panTxtFld
{
    background: #000080;
    border: 1px solid #808000;
    border-radius: 3px;
    font-size: 80%;
    box-shadow: -1px -1px 1px 1px rgba(200,200,64,.5) inset;
    margin: 1em 0 0 1em;
    color: yellow;
    transition: background .5s;    
}

.AppPanel .wide
{
	width: 70%
}

.AppPanel.internal .wide
{
    width: 80%
}

.AppPanel .left {
    width: 20%;
    display: inline-block;
    text-align: right;  
}

.AppPanel.internal .left {
    width: 15%;
    display: inline-block;
    text-align: right;  
}

.AppPanel .right {
    display: inline-block;
    white-space: nowrap;        
}

.AppPanel .right:after {
    display: block; 
}

.AppPanel .valueFld
{
    display: inline-block; 
    width: 70%;
    white-space: normal;  
    word-wrap:break-word;
    word-break:break-all;    
    font-size: 80%;
    margin: 1em 0 0 1em;
    color: #ffa000;
    text-shadow: None;
}

.AppPanel .panSelFld
{
    background: #000060;
    border: 1px solid yellow;
    border-radius: 3px;
    box-shadow: -1px -1px 1px 1px rgba(128,128,32,.5) inset;
    margin: 1em 0 0 1em;
    color: #ffff00;
    text-shadow: None;  
    transition: background .5s;    
}

.AppPanel .panBtn
{
	font-size: 80%;
    border: 2px solid #a0a000;
    background: #909000;
    color: #000000;
    border-radius: .5em;
    transition: background .5s;
    margin: 3px;
}

.AppPanel .panBtn.inline
{
    display: inline-block;  
}

.AppPanel .dlgBtn.ctr
{
    font-size: 100%;
    display: block;
    margin: 1em auto 0 auto;
}

.AppPanel .panBtn.right
{
    font-size: 100%;
    display: inline-block;
    float: right;
    margin: 1em;    
}


.AppPanel .panBtn.sq
{
    font-size: 100%;
    margin: 2px;
    padding: 0;
    border-radius: .1em;    
}

.AppPanel .panBtn:disabled
{
    background: #404040;
    color: #808080;
}

.AppPanel .panBtn:not(:disabled):hover
{
    background: #f0f0a0;
    box-shadow: 0px 0px 10px 5px rgba(64,128,64,.5);    
}


